/*-- scss:defaults --*/

// colors
$gunmetal: #222831;
$imperial-red: #F05454;
$platinum: #DDDDDD;
$snow: #FAF3F3;



// base document colors
$body-bg: $gunmetal;
$body-color: $platinum;
$footer-bg: $imperial-red; // footer background color
$footer-fg: $snow; // footer foreground elements' color
$navbar-bg: $imperial-red; // navbar
$navbar-fg: $snow; // navbar foreground elements