/*-- scss:defaults --*/

// colors
<<<<<<< HEAD
$amaranth: #E94560;
$gunmetal: #222831;
$imperial-red: #F05454;
$seasalt: #F9F7F7;
$snow: #FAF3F3;

// base document colors
$body-bg: $gunmetal;
$body-color: $snow;
$footer-bg: $imperial-red; // footer background color
$footer-fg: $snow; // footer foregound elements' color
$navbar-bg: $imperial-red; // navbar
$navbar-fg: $snow; // navbar foreground elements

// inline code
$code-bg: $seasalt;
$code-color: $amaranth;
=======
$gunmetal: #222831;
$imperial-red: #F05454;
$platinum: #DDDDDD;
$snow: #FAF3F3;



// base document colors
$body-bg: $gunmetal;
$body-color: $platinum;
$footer-bg: $imperial-red; // footer background color
$footer-fg: $snow; // footer foreground elements' color
$navbar-bg: $imperial-red; // navbar
$navbar-fg: $snow; // navbar foreground elements
>>>>>>> 34eed24d1a861ed8bbd8afe702ad1789ba70ada9
