/*-- scss:defaults --*/

// colors
$seasalt: #F9F7F7;
$snow: #FAF3F3;
$puce: #DA7F8F;
$columbia-blue: #B9D7EA;
$uranian-blue: #BBE1FA;

// base document colors
$navbar-bg: $uranian-blue; // navbar
$navbar-fg: $snow; // navbar foreground elements
$navbar-hl: $puce; // highlight color when hovering over navbar links
$footer-bg: $uranian-blue; // footer background color
$footer-fg: $snow; // footer foreground elements' color
$page-bg: $snow;

// inline code
$code-bg: $seasalt; // inline code background color
$code-color: $puce; // inline code text color

/*-- scss:rules --*/
.navbar-brand img {
  max-height: 40px;
  width: auto;
}



